 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">MEng in Computer Engineering</h4>
    <h5 class="meta">Memorial University of Newfoundland</h5>
    <div class="time">Spring 2017</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">B.Eng in Computer Engineering</h4>
    <h5 class="meta">Memorial University of Newfoundland</h5>
    <div class="time">Spring 2013</div>
</div><!--//item-->
</div><!--//education-container-->