<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Many robots and embedded devices. (Project writeups coming soon)</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="http://munsailbot.blogspot.ca/">MUN Sailbot</a></span> - <span class="project-tagline"> Team build robotic sailboats. My role started as work on electronics, code, became graphic design / web dev and project management.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Brewing Automation</a></span> - 
                    <span class="project-tagline">Sensors, control and automation for brewing and serving beer, wine and spirits. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://www.mun.ca/science/community/enrichment.php" target="_blank">ESDNL robotics
course</a></span> - <span class="project-tagline">Design of a low-cost robotics platform and teaching material for a multi-day course, usually offered through ESDNL.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://code.google.com/archive/p/arbot/" target="_blank">Swarm robotics</a></span> - <span class="project-tagline">Designed and fabricated many iterations of swarm robots designed for research at MUN. Applications range from puck sorting to recycling. See <a href="http://bots.cs.mun.ca/">the Bio-inspired Robotics Lab @ MUN</a> for more</span>
                </div><!--//item-->

            </section><!--//section-->
			
